/*Style resets*/
body {
  padding-top: 53px;
}


/*Mobile First*/

.recipeImg {
  width: 100%;
  height: auto;
}

.recipeRow{
  margin:0 auto;
}

.recipeDiv {
  margin: 0 auto;
  margin-top: 20px;
}

@media (max-width: 767px) {
  .recipeDiv{
    max-width: 75%;
  }
}


.inner {
  position: absolute;
  z-index: 5;
  bottom: 0;
  right: 0;
  z-index: 10;
}

.iconMargin {
  margin-right: 6px;
  margin-bottom: 6px;
}


.fa-heart-o,
.fa-heart,
.fa-plus {
  color: white;
  clear: both;
  z-index: 10;
}

.navIcon {
color: black;
}


/*Tablet*/


/*Full Screen*/

.card-img-overlay {
  background: rgba(255, 255, 255, 0.6);
  opacity: 0;
  padding: 0;
  z-index: 10;
}

/*
.card-img-overlay:hover {
  opacity: 1;
}
*/
